.faq {
  padding-top: 75px;
  padding-bottom: 100px;

  &__text {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30px;
  }

  &__questions {
    margin-top: 70px;
  }

  &__button {
    margin-top: 35px;
  }
}

@media(min-width: $desktopWidth) {
  .faq {
    padding-top: 120px;
    padding-bottom: 120px;

    &__container {
      max-width: 500px;
    }

    &__text {
      max-width: 530px;
      margin-top: 25px;
    }

    &__questions {
      margin-top: 50px;
    }

    &__button {
      margin-top: 50px;
    }
  }
}
