.questions {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  list-style: none;

  text-align: left;

  &__item {
    border-bottom: 1px solid #E0E0E8;
  }

  &__title {
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
  }

  &__text {
    display: none;
    padding-bottom: 20px;

    &--shown {
      display: block;
    }
  }

  &__button--active {
    span {
      transform: rotate(180deg);
      transition: 1s all;
    }

    .arrow {
      stroke: $red;
    }
  }
}
